@{
    ViewData["Title"] = "User";
}
@model List<ApplicationUser>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2>User List</h2>
        </div>
       
    </div>
</div>
<table id="tblData" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th>
                Company
            </th>
            <th>
                Role
            </th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                @if(user.Company != null)
                {
                    <td>@user.Company.Name</td>
                }
                else
                {
                    <td></td>
                }
                <td>@user.Role</td>

                <td  width: "25%">
                    @if(user.LockoutEnd > DateTime.Now)
                    {
                        <div class="text-center">
                            <a asp-action="LockUnLock" asp-route-userid="@user.Id" class="btn btn-danger text-white" style="cursor:pointer;">
                                <i class="bi bi-lock-fill"></i>  Lock
                            </a>
                            <a class="btn btn-danger text-white" style="cursor:pointer;">
                                <i class="bi bi-pencil-square"></i> Permission
                            </a>
                        </div>
                    }
                    else
                    {
                <div class="text-center">
                            <a asp-action="LockUnLock" asp-route-userid="@user.Id" class="btn btn-success text-white" style="cursor:pointer;">
                        <i class="bi bi-unlock-fill"></i>  UnLock
                    </a>
                    <a class="btn btn-danger text-white" style="cursor:pointer;">
                        <i class="bi bi-pencil-square"></i> Permission
                    </a>
                </div>
                    
                    }

                </td>
            </tr>

        }

    </tbody>

</table>
